<div class="p-app-screen">
  <div class="p-app-screen__title">
    <h2 class="c-heading__h2--bold u-mb10"><%= @title %></h2>
    <p><%= @name %></p>
  </div>
  
  <div class="p-app-screen__form">
    <%= form_for(@apply) do |f| %>

      <div class="p-app-screen__field">
        <%= f.label :氏名 %>
        <%= f.text_field :name %>
      </div>

      <div class="p-app-screen__field">
        <%= f.label :電話番号 %>
        <%= f.text_field :number %>
      </div>
      
      <div class="p-app-screen__field">
        <%= f.label :アドレス %>
        <%= f.email_field :email %>
      </div>

      <div class="p-app-screen__field">
        <%= f.label :企業id %>
        <%= f.number_field :company_id, :value =>"#{@id}" %>
      </div>

      <%= f.submit "応募する", class: "c-btn__to-application u-mt50" %>
    <% end %>
  </div>
  
</div>
