<h1>Scrapings#index</h1>
<% flash.each do |message_type, message| %>
      <%= message %>
<% end %>
<% if logged_in? %>
  ログイン中です
  <%= link_to "ログアウトする", logout_path, method: :delete %>
<% else %>
  ログインしてません
   <li><%= link_to "ログインする", login_path %></li>
   <li><%= link_to "新規会員登録する", new_user_path %></li>
<% end %>

<br>
<br>


<%= form_tag(scrapings_search_path,:method => 'get') do %>
  
  


  <%= label_tag :タイトル %>
  <%= text_field_tag :title %>
 
  <%= label_tag :雇用形態 %>
  <%= select_tag 'status', options_for_select({正社員: "正社員", 契約社員: "契約社員", 業務委託: "業務委託", アルバイト: "アルバイト"}, ""), include_blank: true %>

  <%= submit_tag '検索' %>
<% end %>


 <% @scraping.each do |data| %>
    <p><%= data.name %></p>
    <p><%= data.status %></p>
    <hr>
<% end %> 

