<section class="p-slider">
  <p>お知らせ</p>
  
  <ul class="p-slider__list">
    <li class="p-slider__item">
      <a href="#">
        <%= image_tag 'pencily192.png' %>
        <p>テキストテキストテキストテキストテキスト</p>
      </a>
    </li>

    <li class="p-slider__item">
      <a href="#">
        <%= image_tag 'pencily192.png' %>
        <p>テキストテキストテキストテキストテキスト</p>
      </a>
    </li>

    <li class="p-slider__item">
      <a href="#">
        <%= image_tag 'pencily192.png' %>
        <p>テキストテキストテキストテキストテキスト</p>
      </a>
    </li>

    <li class="p-slider__item">
      <a href="#">
        <%= image_tag 'pencily192.png' %>
        <p>テキストテキストテキストテキストテキスト</p>
      </a>
    </li>

    <li class="p-slider__item">
      <a href="#">
        <%= image_tag 'pencily192.png' %>
        <p>テキストテキストテキストテキストテキスト</p>
      </a>
    </li>

    <li class="p-slider__item">
      <a href="#">
        <%= image_tag 'pencily192.png' %>
        <p>テキストテキストテキストテキストテキスト</p>
      </a>
    </li>

    <li class="p-slider__item">
      <a href="#">
        <%= image_tag 'pencily192.png' %>
        <p>テキストテキストテキストテキストテキスト</p>
      </a>
    </li>

    <li class="p-slider__item">
      <a href="#">
        <%= image_tag 'pencily192.png' %>
        <p>テキストテキストテキストテキストテキスト</p>
      </a>
    </li>

    <li class="p-slider__item">
      <a href="#">
        <%= image_tag 'pencily192.png' %>
        <p>テキストテキストテキストテキストテキスト</p>
      </a>
    </li>
    
  </ul>
</section>

<section class="p-search">
<%= search_form_for @q, url: scrapings_search_path do |f| %>
  <%= f.label :name_cont_any, '職種、業種、働き方など' %>
  <%= f.search_field :name_cont_any %>
  
  <%= f.label :status_cont, '雇用形態' %>
  <%= f.select :status_cont, [['正社員', '正社員'], ['契約社員', '契約社員'], ['業務委託', '業務委託'], ['アルバイト', 'アルバイト']], {include_blank: '選択なし'}, class: 'sample' %>

  <%= f.label :location_cont_any, '都道府県、市町村区、駅名' %>
  <%= f.search_field :location_cont_any %>

  <%= f.submit '検索' %>
<% end %>
</section>




