<section class="p-search">
<%= search_form_for @q, url: scrapings_search_path do |f| %>
  <%= f.label :name_cont_any, '職種、業種、働き方など' %>
  <%= f.search_field :name_cont_any %>
  
  <%= f.label :status_cont, '雇用形態' %>
  <%= f.select :status_cont, [['正社員', '正社員'], ['契約社員', '契約社員'], ['業務委託', '業務委託'], ['アルバイト', 'アルバイト']], {include_blank: '選択なし'}, class: 'sample' %>

  <%= f.label :location_cont_any, '都道府県、市町村区、駅名' %>
  <%= f.search_field :location_cont_any %>

  <%= f.submit '検索' %>
<% end %>
</section>

<section class="p-work-location">
  <h2 class="c-heading__h2">勤務地から探す</h2>

  <ul>
    <li><a href="">北海道</a></li>
    <li><a href="">東京</a></li>
    <li><a href="">愛知</a></li>
    <li><a href="">大阪</a></li>
    <li><a href="">福岡</a></li>
    <li><a href="">沖縄</a></li>
  </ul>

  <div class="p-work-location__wrapper">
    <dl>
      <dt>北海道・東北</dt>
      <dd>北海道</dd>
      <dd>青森</dd>
      <dd>岩手</dd>
      <dd>秋田</dd>
      <dd>宮城</dd>
      <dd>山形</dd>
      <dd>福島</dd>

      <dt>関東</dt>
      <dd>東京</dd>
      <dd>神奈川</dd>
      <dd>埼玉</dd>
      <dd>千葉</dd>
      <dd>茨城</dd>
      <dd>栃木</dd>
      <dd>群馬</dd>

      <dt>中部・北陸</dt>
      <dd>愛知</dd>
      <dd>岐阜</dd>
      <dd>静岡</dd>
      <dd>三重</dd>
      <dd>新潟</dd>
      <dd>山梨</dd>
      <dd>長野</dd>
      <dd>石川</dd>
      <dd>富山</dd>
      <dd>福井</dd>
    </dl>

    <dl>
      <dt>関西</dt>
      <dd>大阪</dd>
      <dd>兵庫</dd>
      <dd>京都</dd>
      <dd>滋賀</dd>
      <dd>奈良</dd>
      <dd>和歌山</dd>

      <dt>中国・四国</dt>
      <dd>岡山</dd>
      <dd>広島</dd>
      <dd>鳥取</dd>
      <dd>島根</dd>
      <dd>山口</dd>
      <dd>香川</dd>
      <dd>徳島</dd>
      <dd>愛媛</dd>
      <dd>高知</dd>

      <dt>九州・沖縄</dt>
      <dd>福岡</dd>
      <dd>佐賀</dd>
      <dd>長崎</dd>
      <dd>熊本</dd>
      <dd>大分</dd>
      <dd>宮崎</dd>
      <dd>鹿児島</dd>
      <dd>沖縄</dd>
    </dl>
  </div>
  
</section>


<section class="p-work-style">
  <h2 class="c-heading__h2">働き方・雇用形態から探す</h2>

  <ul>
    <li><a href="">正社員・転職</a></li>
    <li><a href="">アルバイト</a></li>
    <li><a href="">パート</a></li>
    <li><a href="">派遣</a></li>
    <li><a href="">契約社員</a></li>
    <li><a href="">業務委託</a></li>
    <li><a href="">在宅ワーク</a></li>
    <li><a href="">フリーランス</a></li>
    <li><a href="">新卒</a></li>
    <li><a href="">インターン</a></li>
  </ul>
  
</section>


