<% provide(:title, 'Sign up') %>
<h1>求人投稿</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  
    <%= form_for(@scraping) do |f| %>
      <%= f.label :勤務先名 %>
      <%= f.text_field :name %><br><br>
    
      <%
=begin%>
 status の型が配列になってないので保存できない 
<%
=end%>
      <%= f.label :雇用形態 %>
      <%= f.check_box :status, {multiple: true, checked: false, disabled: false, include_hidden: false }, "正社員", nil %>正社員
      <%= f.check_box :status, {multiple: true, checked: false, disabled: false, include_hidden: false }, "アルバイト・パート", nil %>アルバイト・パート
      <%= f.check_box :status, {multiple: true, checked: false, disabled: false, include_hidden: false }, "契約社員", nil %>契約社員
      <%= f.check_box :status, {multiple: true, checked: false, disabled: false, include_hidden: false }, "業務委託", nil %>業務委託
      <%= f.check_box :status, {multiple: true, checked: false, disabled: false, include_hidden: false }, "新卒・インターン", nil %>新卒・インターン
      <%= f.check_box :status, {multiple: true, checked: false, disabled: false, include_hidden: false }, "派遣社員", nil %>派遣社員
      <%= f.check_box :status, {multiple: true, checked: false, disabled: false, include_hidden: false }, "紹介予定派遣", nil %>紹介予定派遣<br><br>

      <%
=begin%>
 <%= f.label :仕事内容 %>
      <%= f.text_area :content %><br><br>

      <%= f.label :この仕事のやりがい %>
      <%= f.text_area :rewarding %><br><br>

      <%= f.label :対象となる方 %>
      <%= f.text_area :target %><br><br>

      <%= f.label :写真 %>
      <%= f.file_field :image %><br><br> 
<%
=end%>

      

      <%= f.label :勤務地 %>
      <%= f.text_field :location %><br><br>
      

      <%
=begin%>
 <%= f.label :交通手段 %>
      <%= f.text_area :transportation %><br><br> 
<%
=end%>

      <%= f.label :給与 %>
      <%= f.text_field :salary %><br><br>

      <%
=begin%>
 <%= f.label :給与補足 %>
      <%= f.text_area :supplement %><br><br> 
<%
=end%>

      <%= f.label :勤務時間・休日 %>
      <%= f.text_area :holiday %><br><br>

      

      <%
=begin%>
 <%= f.label :必要項目 %>
      <%= f.radio_button :application, "氏名・連絡先のみ" %> 氏名・連絡先のみ
      <%= f.radio_button :application, "基本情報" %> 基本情報
      <%= f.radio_button :application, "基本情報 + 職務経歴" %> 基本情報 + 職務経歴<br><br> 
<%
=end%>


      <%
=begin%>
 <%= f.label :応募受付の電話番号 %>
      <%= f.text_area :number %><br><br>

      <%= f.label :選考について %>
      <%= f.text_area :selection %><br><br> 
<%
=end%>

      <%= f.label :ID %>
      <%= f.text_area :company_id, :value =>"#{@id}" %><br><br>

      <%= f.submit "登録", class: "btn btn-primary" %>

      
      
    <% end %>

    
  </div>
</div>