<div class="p-job-posting">
  <h2 class="c-heading__h2--bold">求人投稿</h2>


  <%= form_for(@scraping) do |f| %>
      <section class="p-job-posting__job">
        <h3 class="c-heading__h2--500">仕事について</h3>

        <%= f.label :勤務先名 %>
        <%= f.text_field :name, placeholder: "例）居酒屋カカク　恵比寿店／株式会社求人" %>

        <%= f.label :求人タイトル %>
        <%= f.text_field :title, placeholder: "例）居酒屋のホールスタッフ／オフィス用品のルート営業　※具体的な職種を記入" %>

        <%= f.label :職種区分 %>
        <%= f.select :section, {'営業・コールセンター': "営業・コールセンター", '事務・受付': "事務・受付", '企画・マーケティング・管理': "企画・マーケティング・管理", '販売・接客・サービス': "販売・接客・サービス", '飲食店・フード': "飲食店・フード", '旅行・ホテル・ブライダル': "旅行・ホテル・ブライダル", 'レジャー・イベント・スポーツ': "レジャー・イベント・スポーツ", '工場・製造': "工場・製造", '軽作業・倉庫作業': "軽作業・倉庫作業", '建築・土木・建設工事': "建築・土木・建設工事", '警備・清掃・点検': "警備・清掃・点検", '配送・物流・交通': "配送・物流・交通", 'ITエンジニア': "ITエンジニア", '機械・電子エンジニア': "機械・電子エンジニア", '医薬品・素材・化学エンジニア': "医薬品・素材・化学エンジニア", 'Web・インターネット・ゲーム': "Web・インターネット・ゲーム", 'クリエイティブ・広告・印刷・芸能': "クリエイティブ・広告・印刷・芸能", 'コンサルタント・士業・通訳': "コンサルタント・士業・通訳", '金融・不動産専門職': "金融・不動産専門職", 'アパレル・インテリア専門職': "アパレル・インテリア専門職", '医師・コメディカル': "医師・コメディカル", '保育士・教員・講師': "保育士・教員・講師", '介護・福祉': "介護・福祉", '美容・理容・エステ': "美容・理容・エステ", '農林水産・動物関連': "農林水産・動物関連", '公務員・公共施設・NPO': "公務員・公共施設・NPO"}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>

        <%= f.label :雇用形態 %>
        <div class="p-job-posting__box">
          <div class="p-job-posting__check">
            <%= f.check_box :status, {multiple: true, checked: false, disabled: false, include_hidden: false }, "正社員", nil %>
            <span>正社員</span>
          </div>

          <div class="p-job-posting__check">
            <%= f.check_box :status, {multiple: true, checked: false, disabled: false, include_hidden: false }, "アルバイト・パート", nil %>
            <span>アルバイト・パート</span>
          </div>

          <div class="p-job-posting__check">
            <%= f.check_box :status, {multiple: true, checked: false, disabled: false, include_hidden: false }, "契約社員", nil %>
            <span>契約社員</span>
          </div>

          <div class="p-job-posting__check">
            <%= f.check_box :status, {multiple: true, checked: false, disabled: false, include_hidden: false }, "業務委託", nil %>
            <span>業務委託</span>
          </div>

          <div class="p-job-posting__check">
            <%= f.check_box :status, {multiple: true, checked: false, disabled: false, include_hidden: false }, "新卒・インターン", nil %>
            <span>新卒・インターン</span>
          </div>

          <div class="p-job-posting__check">
            <%= f.check_box :status, {multiple: true, checked: false, disabled: false, include_hidden: false }, "派遣社員", nil %>
            <span>派遣社員</span>
          </div>

          <div class="p-job-posting__check">
            <%= f.check_box :status, {multiple: true, checked: false, disabled: false, include_hidden: false }, "紹介予定派遣", nil %>
            <span>紹介予定派遣</span>
          </div>
        </div>
        

        <%= f.label :仕事内容 %>
        <%= f.text_area :content, placeholder: "例）お客様のご案内・オーダー取り・料理や飲み物の提供・レジ対応・後片付けなど、ホール業務全般をお任せします。" %>

        <%= f.label :企業ID, class: "u-none" %>
        <%= f.text_area :company_id, :value =>"#{@id}", class: "u-none" %>
        

        <%= f.label :この仕事のやりがい %>
        <%= f.text_area :rewarding, placeholder: "例）常連のお客様が増えてきたので、「いつもありがとう、今日も美味しかった」と感謝の言葉をいただくことが多く、喜びとともにやりがいを感じることができます。" %>

        <%= f.label :対象となる方 %>
        <%= f.text_area :target, placeholder: "例）未経験の方でも大歓迎です。ただし、18時～24時の勤務となりますので、18歳未満の方はご遠慮ください。" %>

        <%= f.label :写真 %>
        <%= f.file_field :image %>
      </section>
      

      
      <section class="p-job-posting__terms">
        <h3 class="c-heading__h2--500">働く条件について</h3>
        <%= f.label :勤務地 %>
        <%= f.label :都道府県 %>
        <%= f.select :location1, {'北海道': "北海道", '青森県': "青森県", '岩手県': "岩手県", '宮城県': "宮城県", '秋田県': "秋田県", '山形県': "山形県", '福島県': "福島県", '茨城県': "茨城県", '栃木県': "栃木県", '群馬県': "群馬県", '埼玉県': "埼玉県", '千葉県': "千葉県", '東京都': "東京都", '神奈川県': "神奈川県", '新潟県': "新潟県", '富山県': "富山県", '石川県': "石川県", '福井県': "福井県", '山梨県': "山梨県", '長野県': "長野県", '岐阜県': "岐阜県", '静岡県': "静岡県", '愛知県': "愛知県", '三重県': "三重県", '滋賀県': "滋賀県", '京都府': "京都府", '大阪府': "大阪府", '兵庫県': "兵庫県", '奈良県': "奈良県", '和歌山県': "和歌山県", '鳥取県': "鳥取県", '岡山県': "岡山県", '広島県': "広島県", '山口県': "山口県", '徳島県': "徳島県", '香川県': "香川県", '愛媛県': "愛媛県", '高知県': "高知県", '福岡県': "福岡県", '佐賀県': "佐賀県", '長崎県': "長崎県", '熊本県': "熊本県", '大分県': "大分県", '宮崎県': "宮崎県", '鹿児島県': "鹿児島県", '沖縄県': "沖縄県"}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
        <%= f.label :市町村区 %>
        <%= f.text_field :location2, placeholder: "例）渋谷区恵比寿南" %>
        <%= f.label :番地 %>
        <%= f.text_field :location3, placeholder: "例）3-5-7"%>
        <%= f.label :ビル名等 %>
        <%= f.text_field :location4, placeholder: "例）デジタルゲートビル" %>

        <%#
        <%= f.text_field :location5 %>
        

        <%= f.label :交通手段 %>
        <%= f.text_area :transportation, placeholder: "例）(1)JR、東京メトロ日比谷線「恵比寿駅」徒歩10分　(2)東急東横線「代官山駅」徒歩5分　　JR、東京メトロ日比谷線 恵比寿駅 徒歩5分。自転車通勤ご相談ください。" %>

        <%= f.label :給与 %>
        <%= f.select :salary, {'時給': "時給", '月給': "月給", '日給': "日給", '年収': "年収", '固定報酬': "固定報酬", }, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
        <%= f.label :下限 %>
        <%= f.text_field :under %>
        <%= f.label :上限 %>
        <%= f.text_field :up %>

        <%= f.label :給与補足 %>
        <%= f.text_area :supplement, placeholder: "例）時給1,500円～+交通費全額　※週払いOK　　【年収例】 500万円（月給25万円+諸手当+賞与+インセンティブ）" %>

        <%= f.label :勤務時間・休日 %>
        <%= f.text_area :conditions, placeholder: "例）9:00～17:00　※週3日～1日5時間～OK　　完全週休2日制（土日）、祝日、夏期・年末年始休暇、有給休暇" %>
      </section>

      <section class="p-job-posting__selection">
        <h3 class="c-heading__h2--500">応募・選考について</h3>

        <div class="p-job-posting__wrapper">
          <%= f.label :必要項目 %>
          <%= f.radio_button :application, "氏名・連絡先のみ" %> 氏名・連絡先のみ
          <%= f.radio_button :application, "基本情報" %> 基本情報
          <%= f.radio_button :application, "基本情報 + 職務経歴" %> 基本情報 + 職務経歴
        </div>
        


        <%= f.label :応募受付の電話番号 %>
        <%= f.text_field :number, placeholder: "例）0312345678" %>

        <%= f.label :選考について %>
        <%= f.text_area :selection, placeholder: "応募後の選考の流れや必要書類について記入します。また、求人ボックス以外からの応募方法があれば記入します。" %>
      </section>

      <%= f.submit "登録", class: "btn btn-primary" %>
      
    <% end %>
</div>




    
  
    

    
  