<div class="p-result">
    <p>転職・求人情報<%= @posts.length %>件</p>

    <article class="p-result__article">
        <% @posts.each do |data| %>
            <% if data.url === nil %>
                <section class="p-result__item">
                    <a href="/scrapings/<%= data.id %>" target="_blank" rel="noopener noreferrer">
                        <p><%= data.name %></p>
                        <p><%= data.status %></p>
                        <p><%= data.location %></p>
                        <hr>
                    </a>
                </section>

            <% else %>
                <section class="p-result__item">
                    <a href="<%= data.url %>" target="_blank" rel="noopener noreferrer">
                        <p><%= data.name %></p>
                        <p><%= data.status %></p>
                        <p><%= data.location %></p>
                        <hr>
                    </a>
                </section>
            <% end %>
            
        <% end %> 
    </article>

    
</div>

