<% provide(:title, "転職・正社員・求人情報") %>

<div class="p-result">
    <p class="p-result__text">転職・求人情報: <%= @total %>件</p>

    <article>
        <% @results.each do |data| %>
            <% if data.url === nil %>
                <section class="p-result__item">
                    <a href="/scrapings/<%= data.id %>" target="_blank" rel="noopener noreferrer">
                        <h2><%= data.title %></h2>

                        <p><%= data.name %></p>

                        <p><%= data.salary %><%= data.under %>〜<%= data.up %></p>

                        <% if data.status.class === "string" %>
                            <% data.status.split(",").each do |ele| %>
                                <p><%= ele.delete("[").delete("]").delete("\"") %></p>
                            <% end %>
                        <% else %>
                            <p><%= data.status %></p>
                        <% end %>

                          
                        <p><%= data.location %></p>
                    </a>
                </section>

            <% else %>
                <section class="p-result__item">
                    <a href="<%= data.url %>" target="_blank" rel="noopener noreferrer">
                        <h2><%= data.name %></h2>

                        <% if data.location %>
                            <p><%= data.location.strip.truncate(50) %></p>
                        <% end %>

                        <% if data.salary %>
                            <p><%= data.salary.strip.truncate(50) %></p>
                        <% end %>

                        <p><%= data.status %></p>
                    </a>
                </section>
            <% end %>

        <% end %>
    </article>

    <%= paginate @results %>
</div>

