<% provide(:title, @scraping.name) %>

<div class="p-job-details">
  <section class="p-job-details__title">
    <p><%= @scraping.name %></p>
    <h2 class="c-heading__h2--bold"><%= @scraping.title %></h2>
    <p><%= @scraping.status %></p>
    <p><%= @scraping.salary %> <%= @scraping.under %>〜<%= @scraping.up %></p>
    <p><%= @scraping.location1 %></p>

  </section>

  <section class="p-job-details__content">
    
    <h3 class="c-heading__h3--blue u-mb20">仕事内容</h3>
    <p><%= @scraping.content %></p>
          
  </section>

  <section class="p-job-details__content">
    <h3 class="c-heading__h3--blue u-mb20">この仕事のやりがい</h3>
    <p><%= @scraping.rewarding %></p>
  </section>

  <section class="p-job-details__content">
    <h3 class="c-heading__h3--blue u-mb20">対象となる方</h3>
    <p><%= @scraping.target %></p>
  </section>

  <section class="p-job-details__content">
    <h3 class="c-heading__h3--blue u-mb20">勤務地・交通</h3>
    <p><%= @scraping.location1 %></p>
    <p><%= @scraping.transportation %></p>
  </section>

  <section class="p-job-details__content">
    <h3 class="c-heading__h3--blue u-mb20">給与・報酬</h3>
    <p><%= @scraping.salary %>　<%= @scraping.under %>円〜<%= @scraping.up %>円</p>
  </section>

  <section class="p-job-details__content">
    <h3 class="c-heading__h3--blue u-mb20">給与補足</h3>
    <p><%= @scraping.supplement %></p>
  </section>

  <section class="p-job-details__content">
    <h3 class="c-heading__h3--blue u-mb20">勤務時間・休日</h3>
    <p><%= @scraping.conditions %></p>
  </section>

  <section class="p-job-details__content">
    <h3 class="c-heading__h3--blue u-mb20">応募・選考について</h3>
    <p><%= @scraping.application %></p>
    <p><%= @scraping.number %></p>
    <p><%= @scraping.selection %></p>
  </section>

  <%= link_to "応募画面へ進む", new_apply_path(id: @scraping.company_id, name: @scraping.name, title: @scraping.title), class: "c-btn__to-application" %>

</div>