<% provide(:title, @scraping.name) %>

<h2>求人詳細ページ</h2>

<div class="">
  <aside class="">
    <section class="">
        <p><%= @scraping.name %></p>
        <p><%= @scraping.location %></p>
        <p><%= @scraping.salary %></p>
        <p><%= @scraping.holiday %></p>
        <p><%= @scraping.company_id %></p>

        <style>
          a {
              color: black!important;
          }
        </style>


        <%= link_to "応募ページへ", new_apply_path(id: @scraping.company_id) %>
        
    </section>
  </aside>
</div>