<% provide(:title, @user.name) %>
<% if logged_in? %>
  ログイン中です
  <%= link_to "ログアウトする", logout_path, method: :delete %>
<% else %>
  ログインしてません
   <li><%= link_to "ログインする", login_path %></li>
<% end %>

<div class="">
  <aside class="">
    <section class="">
      <h1>
        <%= gravatar_for @user %>
        <p><%= @user.name %></p>
        <p><%= @user.name2 %></p>
        <p><%= @user.email %></p>
        <img src="<%= @user.image %>" alt="">
      </h1>
    </section>
  </aside>
</div>