<% provide(:title, @user.name) %>
<div class="">
  <aside class="">
    <section class="">
      <h1>
        <%= gravatar_for @user %>
        <p><%= @user.name %></p>
        <p><%= @user.name2 %></p>
        <p><%= @user.email %></p>
        <img src="<%= @user.image %>" alt="">
      </h1>
    </section>
  </aside>
</div>