<section class="p-slider">
  <p>お知らせ</p>
  
  <ul class="p-slider__list">
    <li class="p-slider__item">
      <a href="#">
        <%= image_tag 'pencily192.png' %>
        <p>テキストテキストテキストテキストテキスト</p>
      </a>
    </li>

    <li class="p-slider__item">
      <a href="#">
        <%= image_tag 'pencily192.png' %>
        <p>テキストテキストテキストテキストテキスト</p>
      </a>
    </li>

    <li class="p-slider__item">
      <a href="#">
        <%= image_tag 'pencily192.png' %>
        <p>テキストテキストテキストテキストテキスト</p>
      </a>
    </li>

    <li class="p-slider__item">
      <a href="#">
        <%= image_tag 'pencily192.png' %>
        <p>テキストテキストテキストテキストテキスト</p>
      </a>
    </li>

    <li class="p-slider__item">
      <a href="#">
        <%= image_tag 'pencily192.png' %>
        <p>テキストテキストテキストテキストテキスト</p>
      </a>
    </li>

    <li class="p-slider__item">
      <a href="#">
        <%= image_tag 'pencily192.png' %>
        <p>テキストテキストテキストテキストテキスト</p>
      </a>
    </li>

    <li class="p-slider__item">
      <a href="#">
        <%= image_tag 'pencily192.png' %>
        <p>テキストテキストテキストテキストテキスト</p>
      </a>
    </li>

    <li class="p-slider__item">
      <a href="#">
        <%= image_tag 'pencily192.png' %>
        <p>テキストテキストテキストテキストテキスト</p>
      </a>
    </li>

    <li class="p-slider__item">
      <a href="#">
        <%= image_tag 'pencily192.png' %>
        <p>テキストテキストテキストテキストテキスト</p>
      </a>
    </li>
    
  </ul>
</section>