<div class="p-users">
    <style>
        .p-users__tab a {
            display: block;
            padding: 20px;
        }
    </style>

    <div class="p-users__left">
        <ul>
            <li class="p-users__tab p-users__tab--active">会員情報</li>

            <% if @current_user_count > 0 %>
              <li class="p-users__tab" style="padding: 0;"><a href="/resumes/<%= @current_user_devise.id %>/edit">WEB履歴書</a></li>
            <% else %>
              <li class="p-users__tab" style="padding: 0;"><%= link_to "WEB履歴書", new_resume_path %></li>
            <% end %>

            


            <li class="p-users__tab">条件設定</li>
            <li class="p-users__tab">スカウト利用設定</li>
            <li class="p-users__tab">転職支援サービス</li>
            <li class="p-users__tab">応募した求人</li>
        </ul>
    </div>

    <div class="p-users__right">

        <div class="p-users__content p-users__content--show">
            <div class="p-users__box">
                <h2 class="c-heading__h2--bold u-mb20">アカウント情報</h2>
                <dl>
                    <dt>メールアドレス</dt>
                    <dd class="u-mb20"><%= @user_devise.email %></dd>

                    <dt>パスワード</dt>
                    <dd>●●●●●●●●</dd>
                </dl>

                <button class="c-btn__change u-mt50"><%= link_to "変更", edit_user_devise_registration_path(name: "アカウント情報変更") %></button>
            </div>

            <div class="p-users__box">
                <h2 class="c-heading__h2--bold u-mb20">プロフィール</h2>
                
                <table>
                    <tbody>
                        <tr>
                            <th>氏名</th>
                            <td><%= @user_devise.name %></td>
                        </tr>
                        <tr>
                            <th>ふりがな</th>
                            <td><%= @user_devise.furigane %></td>
                        </tr>
                        <tr>
                            <th>生年月日</th>
                            <td><%= @user_devise.birthday %></td>
                        </tr>
                        <tr>
                            <th>性別</th>
                            <td><%= @user_devise.sex %></td>
                        </tr>
                        <tr>
                            <th>現在の職業</th>
                            <td><%= @user_devise.profession %></td>
                        </tr>
                        <tr>
                            <th>直近の職務経歴</th>
                            <td><%= @user_devise.career %></td>
                        </tr>
                        <tr>
                            <th>電話番号</th>
                            <td><%= @user_devise.number %></td>
                        </tr>
                        <tr>
                            <th>住所</th>
                            <td><%= @user_devise.address %></td>
                        </tr>
                        <tr>
                            <th>備考・PR</th>
                            <td><%= @user_devise.pr %></td>
                        </tr>
                    </tbody>
                </table>

                <button class="c-btn__change u-mt50"><%= link_to "変更", edit_user_devise_registration_path(name: "プロフィール変更") %></button>
            </div>

            <div class="p-users__box">
                <h2 class="c-heading__h2--bold u-mb20">会員情報</h2>

                <div class="p-users__text">
                    <p>会員情報が登録されていません。</p>
                    <p>会員情報を登録すると、応募時に入力する手間が省けます。</p>
                </div>
                
                <div class="u-flex">
                    <button class="c-btn__change u-mt50"><%= link_to "会員情報を登録する", edit_user_devise_registration_path(name: "プロフィール変更") %></button>
                    <button class="c-btn__change u-mt50"><%= link_to "WEB履歴書を登録する", new_resume_path %></button>
                </div>
                
            </div>

            <div class="p-users__box">
                <h2 class="c-heading__h2--bold u-mb20">条件設定</h2>

                <div class="p-users__text">
                    <p>希望条件が設定されていません。</p>
                    <p>希望条件を登録すると、希望にマッチした求人情報を受け取れます。</p>
                </div>
                

                <button class="c-btn__change u-mt50"><%= link_to "希望条件を設定する", edit_user_devise_registration_path(name: "アカウント情報変更") %></button>
                
            </div>

        </div>

        <div class="p-users__content">

            <h2 class="u-mb20">WEB履歴書</h2>

        </div>

        <div class="p-users__content">

            <h2 class="u-mb20">条件設定</h2>

        </div>

        <div class="p-users__content">

            <h2 class="u-mb20">スカウト利用設定</h2>

        </div>

        <div class="p-users__content">

            <h2 class="u-mb20">転職支援サービス</h2>

        </div>


        <div class="p-users__content">

            <% if @jobs.length() === 0 %>
                <h2 class="u-mb20">応募した求人はありません。</h2>
                <p class="u-font--size14">応募した「かんたん応募求人」の最新30件が表示されます。</p>
            <% else %>
                <h2 class="u-mb20">応募した求人</h2><span><%= @jobs.length() %>件</span>
            <% end %>


            <ul>
                <% @jobs.each do |item| %>
                    <li>
                        <h3>
                            <a href="/scrapings/<%= item.job_url %>">
                                <%= item.job_title %>
                            </a>
                        </h3>
                    </li>
                <% end %>
            </ul>

        </div>

        

        
        
    </div>
</div>