<% provide(:title, 'WEB履歴書') %>

<style>
  .p-users__tab {
    padding: 0!important;
  }
  .p-users__tab a {
      display: block;
      padding: 20px;
  }
  .l-main {
    width: 1200px;
  }
</style>

<div class="p-users">
    <div class="p-users__left">
        <ul>
            <li class="p-users__tab"><a href="/user_devises/<%= current_user_devise.id %>?name=会員情報">会員情報</a></li>
            <li class="p-users__tab p-users__tab--active" style="padding: 0;"><a href="/resumes/<%= @resume.id %>/edit">WEB履歴書</a></li>
            <li class="p-users__tab"><a href="/user_devises/<%= current_user_devise.id %>?name=条件設定">条件設定</a></li>
            <li class="p-users__tab"><a href="/user_devises/<%= current_user_devise.id %>?name=スカウト利用設定">スカウト利用設定</a></li>
            <li class="p-users__tab"><a href="/user_devises/<%= current_user_devise.id %>?name=転職支援サービス">転職支援サービス</a></li>
            <li class="p-users__tab"><a href="/user_devises/<%= current_user_devise.id %>?name=応募した求人">応募した求人</a></li>
        </ul>
    </div>

    <div class="p-users__right">
        <h2 class="c-heading__h2--bold u-mb20">WEB履歴書</h2>

        
        <%= form_for(@resume) do |f| %>
            <table class="p-table u-mb20">
                <tbody>

                    <tr>
                        <th>配偶者</th>
                        <td>
                            <%= f.label :配偶者 %>
                            <%= f.radio_button :spouse, "有", class: "u-none__wide" %> 有
                            <%= f.radio_button :spouse, "無", class: "u-none__wide" %> 無<br>
                            
                            <%= f.label :配偶者の扶養義務 %>
                            <%= f.radio_button :dependent_support, "有", class: "u-none__wide" %> 有
                            <%= f.radio_button :dependent_support, "無", class: "u-none__wide" %> 無<br>

                            <%= f.label :扶養家族（配偶者を除く）%>
                            <%= f.text_field :dependents %>
                        </td>
                    </tr>

                    <tr>
                        <th>現在の就業状況</th>
                        <td>
                            <%= f.select :employment_status, {'aaaaaa': "aaaaaa", 'bbbbb': "bbbbb"}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %><br><br>
                        </td>
                    </tr>

                    <tr>
                        <th>現在（直近）の年収</th>
                        <td>
                            <%= f.text_field :annual_Income %>万円
                        </td>
                    </tr>

                    <tr>
                        <th>経験社数</th>
                        <td>
                            <%= f.text_field :experience %>社をこれまで経験
                        </td>
                    </tr>

                    <tr>
                        <th>経験職種・年数</th>
                        <td>
                            <%= f.label :営業・企画営業（法人向け） %>
                            <%= f.text_field :years_of_experience %>年以上<br>
                            <%= f.select :occupation, {'aaaaaa': "aaaaaa", 'bbbbb': "bbbbb"}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %><br><br>
                        </td>
                    </tr>

                </tbody>
            </table>

            <table class="p-table p-table__company p-table__company--first u-mb20">
                <tbody>

                    <tr>
                        <th class="p-table--white">経験企業（１）</th>
                        <td class="p-table__company--add">
                            
                                <span class="c-btn--blue c-btn__add">追加する</span>
                            
                                
                                
                        </td>
                    </tr>

                    <tr>
                        <th>社名</th>
                        <td>
                            <%= f.text_field :company_name1, class: "p-table__input--long check-company" %>
                        </td>
                        </td>
                    </tr>

                    <tr>
                        <th>在職期間</th>
                        <td>
                            <%= f.text_field :period_year_from1, class: "p-table__input--short" %>年
                            <%= f.text_field :period_month_from1, class: "p-table__input--short" %>月　〜
                            <%= f.text_field :period_year_to1, class: "p-table__input--short" %>年
                            <%= f.text_field :period_month_to1, class: "p-table__input--short" %>月<br><br>
                        </td>
                    </tr>

                    <tr>
                        <th>雇用形態</th>
                        <td>
                            <%= f.select :status1, {'選択してください': nil, '正社員': "正社員", 'アルバイト・パート': "アルバイト・パート"}, { class: 'form-control' , required: true } %><br><br>
                        </td>
                    </tr>

                    <tr>
                        <th>業種</th>
                        <td>
                            <%= f.select :industry1, {'選択してください': nil, 'aaaaaa': "aaaaaa", 'bbbbb': "bbbbb"}, { class: 'form-control' , required: true } %>
                        </td>
                    </tr>

                    <tr>
                        <th>資本金</th>
                        <td>
                            <%= f.select :capital1, {'選択してください': nil, '100': 100, '200': 200}, { class: 'form-control' , required: true } %>
                        </td>
                    </tr>

                    <tr>
                        <th>従業員数</th>
                        <td>
                            <%= f.select :number_of_employees1, {'選択してください': nil, '1': 1, '2': 2}, { class: 'form-control' , required: true } %>
                        </td>
                    </tr>

                    <tr>
                        <th>最終ポジション</th>
                        <td>
                            <%= f.select :final_position1, {'選択してください': nil, 'aaaaaa': "aaaaaa", 'bbbbb': "bbbbb"}, { class: 'form-control' , required: true } %>
                        </td>
                    </tr>

                    <tr>
                        <th>職務内容</th>
                        <td>
                            <%= f.text_area :job_description1 %>
                        </td>
                    </tr>

                    <tr>
                        <th>退職理由</th>
                        <td>
                            <%= f.text_area :reason_retirement1 %>
                        </td>
                    </tr>

                </tbody>
            </table>

            
            <table class="p-table p-table__company u-mb20 u-none--weak">
                <tbody>

                    <tr>
                        <th class="p-table--white">経験企業（２）</th>
                        <td>
                            <span class="c-btn--blue c-btn__add">追加する</span>
                            <span class="c-btn--blue c-btn__remove">削除する</span>
                        </td>
                    </tr>

                    <tr>
                        <th>社名</th>
                        <td>
                            <%= f.text_field :company_name2, class: "p-table__input--long check-company" %>
                        </td>
                        </td>
                    </tr>

                    <tr>
                        <th>在職期間</th>
                        <td>
                            <%= f.text_field :period_year_from2, class: "p-table__input--short" %>年
                            <%= f.text_field :period_month_from2, class: "p-table__input--short" %>月　〜
                            <%= f.text_field :period_year_to2, class: "p-table__input--short" %>年
                            <%= f.text_field :period_month_to2, class: "p-table__input--short" %>月<br><br>
                        </td>
                    </tr>

                    <tr>
                        <th>雇用形態</th>
                        <td>
                            <%= f.select :status2, {'選択してください': nil, '正社員': "正社員", 'アルバイト・パート': "アルバイト・パート"}, { class: 'form-control' , required: true } %><br><br>
                        </td>
                    </tr>

                    <tr>
                        <th>業種</th>
                        <td>
                            <%= f.select :industry2, {'選択してください': nil, 'aaaaaa': "aaaaaa", 'bbbbb': "bbbbb"}, { class: 'form-control' , required: true } %>
                        </td>
                    </tr>

                    <tr>
                        <th>資本金</th>
                        <td>
                            <%= f.select :capital2, {'選択してください': nil, '100': 100, '200': 200}, { class: 'form-control' , required: true } %>
                        </td>
                    </tr>

                    <tr>
                        <th>従業員数</th>
                        <td>
                            <%= f.select :number_of_employees2, {'選択してください': nil, '2': 2, '2': 2}, { class: 'form-control' , required: true } %>
                        </td>
                    </tr>

                    <tr>
                        <th>最終ポジション</th>
                        <td>
                            <%= f.select :final_position2, {'選択してください': nil, 'aaaaaa': "aaaaaa", 'bbbbb': "bbbbb"}, { class: 'form-control' , required: true } %>
                        </td>
                    </tr>

                    <tr>
                        <th>職務内容</th>
                        <td>
                            <%= f.text_area :job_description2 %>
                        </td>
                    </tr>

                    <tr>
                        <th>退職理由</th>
                        <td>
                            <%= f.text_area :reason_retirement2 %>
                        </td>
                    </tr>

                </tbody>
            </table>
            


            
            <table class="p-table p-table__company u-mb20 u-none--weak">
                <tbody>

                    <tr>
                        <th class="p-table--white">経験企業（３）</th>
                        <td>
                            <%# <span class="c-btn--blue c-btn__add">追加する</span> %>
                            <span class="c-btn--blue c-btn__remove">削除する</span>
                        </td>
                    </tr>

                    <tr>
                        <th>社名</th>
                        <td>
                            <%= f.text_field :company_name3, class: "p-table__input--long check-company" %>
                        </td>
                        </td>
                    </tr>

                    <tr>
                        <th>在職期間</th>
                        <td>
                            <%= f.text_field :period_year_from3, class: "p-table__input--short" %>年
                            <%= f.text_field :period_month_from3, class: "p-table__input--short" %>月　〜
                            <%= f.text_field :period_year_to3, class: "p-table__input--short" %>年
                            <%= f.text_field :period_month_to3, class: "p-table__input--short" %>月<br><br>
                        </td>
                    </tr>

                    <tr>
                        <th>雇用形態</th>
                        <td>
                            <%= f.select :status3, {'選択してください': nil, '正社員': "正社員", 'アルバイト・パート': "アルバイト・パート"}, { class: 'form-control' , required: true } %><br><br>
                        </td>
                    </tr>

                    <tr>
                        <th>業種</th>
                        <td>
                            <%= f.select :industry3, {'選択してください': nil, 'aaaaaa': "aaaaaa", 'bbbbb': "bbbbb"}, { class: 'form-control' , required: true } %>
                        </td>
                    </tr>

                    <tr>
                        <th>資本金</th>
                        <td>
                            <%= f.select :capital3, {'選択してください': nil, '100': 100, '200': 200}, { class: 'form-control' , required: true } %>
                        </td>
                    </tr>

                    <tr>
                        <th>従業員数</th>
                        <td>
                            <%= f.select :number_of_employees3, {'選択してください': nil, '2': 2, '2': 2}, { class: 'form-control' , required: true } %>
                        </td>
                    </tr>

                    <tr>
                        <th>最終ポジション</th>
                        <td>
                            <%= f.select :final_position3, {'選択してください': nil, 'aaaaaa': "aaaaaa", 'bbbbb': "bbbbb"}, { class: 'form-control' , required: true } %>
                        </td>
                    </tr>

                    <tr>
                        <th>職務内容</th>
                        <td>
                            <%= f.text_area :job_description3 %>
                        </td>
                    </tr>

                    <tr>
                        <th>退職理由</th>
                        <td>
                            <%= f.text_area :reason_retirement3 %>
                        </td>
                    </tr>

                </tbody>
            </table>
            


            <table class="p-table p-table__qualification p-table__qualification--first u-mb20">
                <tbody>

                    <tr>
                        <th class="p-table--white">資格・スキル（１）</th>
                        <td>
                            <span class="c-btn--blue c-btn__add">追加する</span>
                        </td>
                    </tr>

                    <tr>
                        <th>保有資格</th>
                        <td>
                            <%= f.select :qualification1, {'選択してください': nil, 'aaaaaa': "aaaaaa", 'bbbbb': "bbbbb"}, { class: 'form-control' , required: true } %>
                            <%= f.text_field :qualification_year1, class: "p-table__input--short check-qualification" %>年
                            <%= f.text_field :qualification_month1, class: "p-table__input--short" %>月取得<br>
                        </td>
                    </tr>

                    <tr>
                        <th>語学スキル</th>
                        <td>
                            <%= f.select :language, {'選択してください': nil, 'aaaaaa': "aaaaaa", 'bbbbb': "bbbbb"}, { class: 'form-control' , required: true } %>
                        </td>
                    </tr>

                </tbody>
            </table>

            <table class="p-table p-table__qualification u-mb20 u-none--weak">
                <tbody>

                    <tr>
                        <th class="p-table--white">資格・スキル（２）</th>
                        <td>
                            <span class="c-btn--blue c-btn__add">追加する</span>
                            <span class="c-btn--blue c-btn__remove">削除する</span>
                        </td>
                    </tr>

                    <tr>
                        <th>保有資格</th>
                        <td>
                            <%= f.select :qualification2, {'選択してください': nil, 'aaaaaa': "aaaaaa", 'bbbbb': "bbbbb"}, { class: 'form-control' , required: true } %>
                            <%= f.text_field :qualification_year2, class: "p-table__input--short check-qualification" %>年
                            <%= f.text_field :qualification_month2, class: "p-table__input--short" %>月取得<br>
                        </td>
                    </tr>

                    <tr>
                        <th>語学スキル</th>
                        <td>
                            <%= f.select :language2, {'選択してください': nil, 'aaaaaa': "aaaaaa", 'bbbbb': "bbbbb"}, { class: 'form-control' , required: true } %>
                        </td>
                    </tr>

                </tbody>
            </table>

            <table class="p-table p-table__qualification u-mb20 u-none--weak">
                <tbody>

                    <tr>
                        <th class="p-table--white">資格・スキル（３）</th>
                        <td>
                            <span class="c-btn--blue c-btn__add">追加する</span>
                            <span class="c-btn--blue c-btn__remove">削除する</span>
                        </td>
                    </tr>

                    <tr>
                        <th>保有資格</th>
                        <td>
                            <%= f.select :qualification3, {'選択してください': nil, 'aaaaaa': "aaaaaa", 'bbbbb': "bbbbb"}, { class: 'form-control' , required: true } %>
                            <%= f.text_field :qualification_year3, class: "p-table__input--short check-qualification" %>年
                            <%= f.text_field :qualification_month3, class: "p-table__input--short" %>月取得<br>
                        </td>
                    </tr>

                    <tr>
                        <th>語学スキル</th>
                        <td>
                            <%= f.select :language3, {'選択してください': nil, 'aaaaaa': "aaaaaa", 'bbbbb': "bbbbb"}, { class: 'form-control' , required: true } %>
                        </td>
                    </tr>

                </tbody>
            </table>

            <table class="p-table p-table__qualification u-mb20 u-none--weak">
                <tbody>

                    <tr>
                        <th class="p-table--white">資格・スキル（４）</th>
                        <td>
                            <span class="c-btn--blue c-btn__add">追加する</span>
                            <span class="c-btn--blue c-btn__remove">削除する</span>
                        </td>
                    </tr>

                    <tr>
                        <th>保有資格</th>
                        <td>
                            <%= f.select :qualification4, {'選択してください': nil, 'aaaaaa': "aaaaaa", 'bbbbb': "bbbbb"}, { class: 'form-control' , required: true } %>
                            <%= f.text_field :qualification_year4, class: "p-table__input--short check-qualification" %>年
                            <%= f.text_field :qualification_month4, class: "p-table__input--short" %>月取得<br>
                        </td>
                    </tr>

                    <tr>
                        <th>語学スキル</th>
                        <td>
                            <%= f.select :language4, {'選択してください': nil, 'aaaaaa': "aaaaaa", 'bbbbb': "bbbbb"}, { class: 'form-control' , required: true } %>
                        </td>
                    </tr>

                </tbody>
            </table>

            <table class="p-table p-table__qualification u-mb20 u-none--weak">
                <tbody>

                    <tr>
                        <th class="p-table--white">資格・スキル（５）</th>
                        <td>
                            <span class="c-btn--blue c-btn__remove">削除する</span>
                        </td>
                    </tr>

                    <tr>
                        <th>保有資格</th>
                        <td>
                            <%= f.select :qualification5, {'選択してください': nil, 'aaaaaa': "aaaaaa", 'bbbbb': "bbbbb"}, { class: 'form-control' , required: true } %>
                            <%= f.text_field :qualification_year5, class: "p-table__input--short check-qualification" %>年
                            <%= f.text_field :qualification_month5, class: "p-table__input--short" %>月取得<br>
                        </td>
                    </tr>

                    <tr>
                        <th>語学スキル</th>
                        <td>
                            <%= f.select :language5, {'選択してください': nil, 'aaaaaa': "aaaaaa", 'bbbbb': "bbbbb"}, { class: 'form-control' , required: true } %>
                        </td>
                    </tr>

                </tbody>
            </table>

            <table class="p-table u-mb20">
                <tbody>

                    <tr>
                        <th class="p-table--white">自己PR・志望動機</th>
                        <td class="u-font--size14">
                            「自己PR」「志望動機」は、ベースとなる内容をあらかじめ登録しておき、応募される企業ごとに応募フォームの上で直接編集いただくことをおすすめします。<br>
                            なお、「スカウトサービスをご利用される場合は、「自己PR」は企業側への公開項目となるため、ご記入をおすすめします。
                        </td>
                    </tr>

                    <tr>
                        <th>自己PR</th>
                        <td>
                            <%= f.text_area :pr, class: "u-mb10" %><br>
                            <span class="u-font--size14">入力:445/最大:1800</span>
                        </td>
                    </tr>

                    <tr>
                        <th>志望動機</th>
                        <td>
                            <%= f.text_area :motivation, class: "u-mb10" %><br>
                            <span class="u-font--size14">入力:445/最大:1800</span>
                        </td>
                    </tr>

                </tbody>
            </table>

            <table class="p-table u-mb20">
                <tbody>

                    <tr>
                        <th class="p-table--white">本人希望欄</th>
                        <td>
                        </td>
                    </tr>

                    <tr>
                        <th>本人希望欄</th>
                        <td>
                            <%= f.text_area :hope, class: "u-mb10" %><br>
                            <span class="u-font--size14">給与・職種・勤務時間・勤務地など希望があれば入力</span>
                        </td>
                    </tr>

                    <tr class="u-none">
                        <th>ユーザーid</th>
                        <td>
                            <%= f.text_field :user_devise_id, value: current_user_devise.id %>
                        </td>
                    </tr>
                    

                </tbody>
            </table>

            <table class="p-table u-mb20">
                <tbody>

                    <tr>
                        <th>WEB履歴書をダウンロード</th>
                        <td>
                            <button class="c-btn--blue">ダウンロード</button>
                        </td>
                    </tr>

                </tbody>
            </table>

            <%= f.submit "変更する", class: "c-btn__change" %>
        <% end %>
        
        
        </div>

        
        
        
        
        
      

        
        
    </div>
</div>

