<% if current_page?(root_path) %>
  <% provide(:title, '全国の仕事・転職・求人情報をまとめて検索') %>
<% end %>

<!DOCTYPE html>
<html>
  <head>
    <title>求人kwt | <%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

  </head>

  <body>

    <%= render 'shared/header' %>
    
    <% if current_page?(root_path) %>
      <%= render 'shared/top_slider' %>

      <script>
        history.replaceState(null, document.getElementsByTagName('title')[0].innerHTML, null);

        window.addEventListener('popstate', function(e) {
              location.reload();
        });
       
      </script>
      
    <% end %>
    

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <main class="l-main">
      <%= yield %>
    </main>

    <%= debug(params) if Rails.env.development? %>


    <%= render 'shared/footer' %>
  </body>
</html>
